<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>Club 40</title>
</head>

<body>
  <header class="flex-header-container">
    <h1 class="left-side-color">Club <span class="span-right-side-color">40</span></h1>
  </header>

  <% if (locals.user) { %>
  <nav class="flex-container">
    <ul class="flex-content">
      <img class="navbar-image" src="../svgs/message.svg" alt="create message" />
      <li>
        <a class="left-side-color" href="/message/new-message"> New <span class="span-right-side-color">Messages</span></a>
      </li>
    </ul>
    <ul class="flex-content">
      <img class="navbar-image" src="../svgs/star.svg" alt="become member" />
      <li>
        <a class="left-side-color" href="/user/become-member">Become A <span class="span-right-side-color">Member</span></a>
      </li>
    </ul>
    <ul class="flex-content">
      <img class="navbar-image" src="../svgs/padlock.svg" alt="become admin" />
      <li>
        <a class="left-side-color" href="/user/become-admin">Admin <span class="span-right-side-color">Mode</span></a>
      </li>
    </ul>
    <ul class="flex-content">
      <img class="navbar-image" src="../svgs/log-out.svg" alt="log out" />
      <li>
        <a class="left-side-color" href="/user/log-out">Log <span class="span-right-side-color">Out</span></a>
      </li>
    </ul>
  </nav>
  <% } else { %>
  <nav class="flex-container">
    <ul class="flex-content">
      <img class="navbar-image" src="../svgs/person.svg" alt="sign up" />
      <li>
        <a class="left-side-color" href="/user/sign-up">Sign <span class="span-right-side-color">Up</span></a>
      </li>
    </ul>
    <ul class="flex-content">
      <img class="navbar-image" src="../svgs/log-in.svg" alt="log in" />
      <li>
        <a class="left-side-color" href="/user/log-in">Log <span class="span-right-side-color">In</span></a>
      </li>
    </ul>
  </nav>
  <% } %>
</body>

</html>