<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>Club 40</title>
</head>

<% if (locals.user) { %>
<%- include('./partials/navbar.ejs') %>
<% } %>


<body>
  <div class="flex-header-container">
    <h2 class="left-side-color">Become <span class="span-right-side-color">member</span></h2>

    <p class="left-side-color">Enter the correct <span class="span-right-side-color">password</span> to join</p>

    <p class="left-side-color">What is the most used <span class="span-right-side-color">meme</span> in TOP?</p>

    <p class="left-side-color">On successful guess you will be <span class="span-right-side-color">redirected to main page</span></p>

  </div>
  <div class="form-container">
    <form action="/user/become-member" method="POST">
      <div class="form-content">
        <label class="left-side-color" for="memberPassword">Members Password</label>
        <input type="password" name="memberPassword" id="memberPassword" />
      </div>
      <div class="form-btn-container">
        <button class="submit-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</body>

</html>