<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Club 40</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <main>
      <header class="flex-header-container">
        <h1>Special club for 40 years olds</h1>

        <h2>Everyone can send messages</h2>

        <h3>Non-members can only see the title and contents</h3>

        <h4>Only members can see the author and date</h4>
      </header>
    </main>
  </body>
</html>
