*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #5cab7d;
}

.flex-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.navbar-image {
  width: 30px;
}

.form-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.form-content input {
  width: 300px;
}

.message-container {
  max-width: 600px;
  margin: 0 auto;
}

.message-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  /* outline: 2px solid #f6efee; */
  padding: 0.25rem;
  color: #f6efee;
}

.message-content p {
  margin-bottom: 0.5rem;
}

.left-side-color {
  color: #f6efee;
}

.span-right-side-color {
  color: #317b22;
}

.form-btn-container {
  width: 300px;
}

.submit-btn {
  width: 100%;
  background-color: #317b22;
  color: #f6efee;
  border: 0;
  cursor: pointer;
  padding: 0.25rem;
}

.center-errors {
  margin-top: 0.5rem;
  text-align: center;
  color: #f6efee;
}

textarea {
  resize: vertical;
}
