*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: lightblue;
}

.flex-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.navbar-image {
  width: 30px;
}

.form-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.form-content input {
  width: 300px;
}
